body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
  flex-direction: column-reverse;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#game-board {
  background-color: #ccc;
  width: 90vmin;
  height: 90vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.snake {
  border-radius: 10px;
  background-color: #0aae6f;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%235a309f' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: cover;
  border: 0.25vmin solid rgba(0, 0, 0, 0.397);
}

.apple {
  background-color: hsla(2, 100%, 73%, 0.808);
  border-radius: 35%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 0.25vmin solid rgb(153, 90, 90);
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 36, 95);
  height: 7vmin;
  width: 7vmin;
  border-radius: 100px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(47, 102, 255);
  border: none;
  border-radius: 1vmin;
  height: 6vmin;
  width: 10vmin;
  font-size: 2.5vmin;
  color: white;
  transition: background-color ease-in-out 100ms;
}

button:active {
  background-color: rgba(47, 102, 255, 0.76);
  height: 5.8vmin;
  width: 9.9vmin;
}

/* button.done::after {
  content: "Resume";
} */

.closeModal {  
  background-color: rgb(26, 26, 28);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  cursor: pointer;
}

.closeModal:hover {
  background-color: rgb(152, 152, 152);
}



.console {
  width: 100vmin;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vmin;
}
